<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The Wall</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <script type="text/javascript" src='/static/js/bootstrap.js'></script>
</head>
<body>
    <div id="top">
        <h1>CodingDojo Wall</h1>
        <div id="userdetail">
            <h3>Welcome, {{fname}}!</h3>
            <form action="/user">
                <button type="submit" class="btn btn-default yellowbutton" style="margin: 20px">My Profile</button>
            </form>
            <form action="/logout" method="POST">
                    <button type="submit" class="btn btn-default" style="margin: 20px">Log Out</button>
            </form>
        </div>
    </div>
    <div id="container">
        <form action="/message" method="post">
            <div class="form-group">
                <label for="messagebox">Post a message</label>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {%if category == 'mess'%}
                                <li >{{ message }}</li>
                            {%endif%}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <textarea class="form-control" rows="4" id="messagebox" name="messagebox"></textarea>
            </div>
            <button type="submit" class="btn btn-default">Post a message</button>
        </form>
        {%for i in messages%}
            <div class="message">
                <h4>{{i['name']}} on {{i['created']}}</h4>
                {%if session['id'] == i['user']%}
                <form action="/delete" method="post" >
                    <input type="hidden" name='message_id' value="{{i['message']}}">
                    <button type="submit" class="btn btn-default delete">Delete</button>
                </form>
                {%endif%}
                <p>{{i['text']}}</p>
            </div>
            {% for j in comments%}
                {% if j['message'] == i['message']%}
                <div class="comment">
                    <h4>{{j['name']}} on {{j['created']}}</h4>
                    <p>{{j['text']}}</p>
                </div>
                {%endif%}
            {%endfor%}
            <div class="commentbox">
                <form action="/comment" method="post">
                    <div class="form-group">
                        <input type="hidden" name='message_id' value="{{i['message']}}">
                        <label for="comment">Post a comment</label>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {%if category == 'comm'%}
                                        <li >{{ message }}</li>
                                    {%endif%}
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <textarea class="form-control" rows="3" name="commentbox"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default commentbutton">Post a comment</button>
                </form>
            </div>
        {%endfor%}
    </div>
</body>
</html>